
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {

    --color1: #f8e3e3; 
    /* --color2: #0f374a; */
    --color2: #08628b;
    --color3: #2b4450;
    --light: #f6f6f6;
    --dark:  #ff5100;
    --ok-color: green;
    --ko-color: red;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    vertical-align: bottom;
}

.center{
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-weight: bolder;
    padding: 3rem;
    user-select: none;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    color: var(--color3);
}

button {
    background-color: var(--color2);
    color: var(--light);
    font-size: medium;
    margin-inline: .5rem;
    padding: .5rem;
    border: 2px solid var(--light);
    border-radius: .25rem;
    box-shadow: 2px 2px 1px 0px var(--dark);
}

input::placeholder {
    font-style: italic;
    color: var(--light);
    opacity: .5;
}

button:hover {
    scale: 1.05;
    animation: scale-hover 250ms linear forwards;
}
@keyframes scale-hover {
    0% {scale: 1;}
    100% {scale: 1.05;}
}

button:active {box-shadow: none}

.logo {
    font-size: 10rem;
    font-weight: bolder;    
    vertical-align: -25%;
    color: var(--dark);
    margin-inline-end: -7.5rem;
}

.hide {color: transparent;}

.danger {
    color: var(--ko-color);
    text-shadow: 1px 1px var(--ko-color);
}

.ok {color: var(--ok-color);}
.ko {color: var(--ko-color);}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & button {
        font-size: large;
        padding-block: .5rem;
        padding-inline: 1.5rem;
        border: none;
        border: 2px solid var(--light);
        box-shadow: 5px 5px 3px 0px var(--dark);
    }

}

.filterCtrl {
    margin: 1rem;
    text-align: center;
}

#tasksFilter {
    background-color: var(--color2);
    color: var(--light);
    padding-block: .5rem;
    padding-inline: 1rem;
    font-size: large;
    border-radius: .25rem;
    /* box-shadow: -2px -2px 1px 0px var(--light) inset,
                2px 2px 1px 0px var(--dark) inset; */
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: space-between;
    font-size: x-large;
    padding-block: 1rem;
    padding-inline: 2rem;
    border: 1px solid var(--dark);
    border-radius: .5rem;

    & .task {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-around;
    }

    & .taskData {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        font-size: large;
    }

    & .taskActions {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

}

footer {
    margin-block-start: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 7.5vh;
    background-color: var(--color2);
    color: var(--light);
    border-radius: .5rem;
}

dialog {
    background-color: var(--color1);
    color: var(--dark);
    font-size: x-large;
    padding-block: 1rem;
    padding-inline: 2rem;
    /* text-align: center; */
    border: 2px solid var(--light);
    border: none;
    border-radius: .5rem;

    & form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & input, select {
        background-color: var(--color1);
        color: var(--dark);
        padding-block: .5rem;
        padding-inline: 1rem;
        font-size: large;
        border-radius: .25rem;
    }

    &::backdrop {
        background-color: var(--color2);
        opacity: .3;
    }
}

@media screen and (max-width: 935px) {

    nav {grid-template-columns: repeat(2, 1fr);}

}

@media screen and (max-width: 785px) {

    nav {grid-template-columns: 1fr;}
    section {grid-template-columns: 1fr;}

}